{% include "header.html" %}
    <section id="slider-bs">
    </section>
    <!-- bussiness rate pg Area Start -->
    <Section id="bus-pg">
      <div class="container">
        <div class="row ">
          <div class="col-lg-12 col-12">
            <h1 class="com-heading ser-pg-hd">BUSINESS RATES</h1>
            <p>By choosing Citygate Surveyors you will be working with a rating team with vast experience across all property sectors throughout the UK.
              Your rates liability will be vigorously managed, assessments appealed and your costs minimised.</p>
            <ul>
              <li>Planning for the rising costs of business rates </li>
              <li>Understanding how much your rates bill will be each year </li>
              <li>Managing the administration and accurate payment of your rates bills
              </li>
              <li>	Assessing how portfolio changes will affect your business rates  
              </li>
              <li>Releasing finances to invest in your core business
              </li>
            </ul>
          </div>
        </div>
      </div>
    </Section>
    <!-- bussiness rate pg Area End -->
    <!-- fees area start -->
    <section id="fees-id">
      <div class="container">
        <div class="fees">
        <h2 class="com-heading">Our Fees Explained: </h2>
        <p>As with all professional services we have to charge fees for our work. Surveyors are required to visit premises and produce a report and drawings in order for us to make an appeal for our clients. We have to produce written evidence along with valid reasoning based on Valuation Law and as you can imagine all of this work is produced by qualified professionals. As a client, if you are unhappy with your rates bill you really only have two choices; do nothing and carry on paying through gritted teeth or appeal the rateable value with at least a chance to reduce this onerous tax. When we are approached by a prospective client, we do not normally discuss fees at the outset. This is because we do not yet know if there is even a case for appeal and even if there is, the extent of any potential reduction is not yet known. That is why we initially conduct a free audit and only then, if there is a case, can we propose a fee structure.</p>
        <p>Our standard fee structure is based on shared risk; we ask clients to show good faith with an initial fee based normally on one month’s rates payable. This partially covers our costs in preparing the case and surveying the property. We only ask for this fee once the survey has been completed. We then negotiate a success fee with clients linked to the value of any reduction we achieve and the value of any rebate we secure from the local authority. The success fee is usually equivalent to around 25% of the savings we have made for clients. Remember that this is just an overview, it would take many pages to outline all the different options</p>
      </div>
      </div>
    </section>
    <!-- fees area end -->
    <!-- rev-img part -->
    <section id="rev-img">
      <div class="container text-center">
        <div class="rev-img-cont">
          <h3>Business rates are a tax on the right to occupy commercial premises and are a significant financial burden for most organisations.</h3>
          <p>The amount you pay is based upon the Rateable Value of your property, which is set by the Valuation Office Agency (VOA) using rental market evidence and is re-assessed typically every five years - a process known as revaluation.</p>
        </div>
      </div>
    </section>
    <!-- Rev Area start --> 
    <section id="rev-id">
      <div class="container">
        <div class="rev">
          <h2 class="com-heading">2017 Revaluation</h2>
          <p>The 2017 Business Rates Revaluation came into effect on  <b>1 April 2017</b> and introduced new rateable values for all commercial properties in England and Wales* based on rental values as at <b>1 April 2015</b>.
          </p>
          <p>
          In the seven years that have passed since the last revaluation, there have been wide variations in how rents have moved, creating some significant regional and sectoral variations.
          </p>
        </div>
      </div>
    </section>
    <!-- Rev Area End --> 
    <!-- new appeal system start -->
    <section id="new-app">
      <div class="container">
        <h2 class="com-heading">New appeal system</h2>
        <p>The Government has also introduced a new appeal system to coincide with the 2017 Business Rates revaluation, known as <b>'Check Challenge Appeal'</b>. Ratepayers and their advisors will now have to follow this three-stage process if they disagree with their new rateable value:</p>
        <ol>
          <li>Check:
            <p>The ratepayer or agent can request details of the information relied upon by the Valuation Office Agency (VOA) to determine the new rateable value and ‘Check’ it for factual errors, with any amendments submitted as a formal declaration. Once receipt of the ‘Check’ has been formally acknowledged, the VOA has up to 12 months to decide whether to accept the proposed changes and amend the rateable value. If no agreement can be reached, the ratepayer or agent can officially ‘Challenge’ the rateable value within four months of receiving the VOA’s decision, or after 12 months have elapsed.
            </p>
          </li>
          <li>Challenge:
            <p>In order to ‘Challenge’ the rating list entry, the ratepayer or agent must prepare a detailed submission setting out the reasons for disputing the rateable value, including an alternative valuation backed by supporting evidence. If no agreement can be reached, the ratepayer or agent can ‘Appeal’ to the Valuation Tribunal for England within four months of receiving the VOA’s decision, or 18 months have elapsed.</p>
          </li>
          <li>Appeal:
            <p>The Tribunal will consider whether the VOA has made the correct decision in respect of the challenge, based on the evidence put forward at the ‘Challenge’ stage – no fresh evidence will be permissible unless formal agreement is sought from the VOA. If the Tribunal disagrees with the VOA’s decision, it may conclude that the ratepayer’s proposed rating list entry is correct, or alternatively it may substitute its own. The ratepayer or agent cannot change the grounds of the ‘Challenge’ (even though some may have been resolved) and cannot introduce fresh evidence without the formal agreement of the VOA. A fee of up to £300 will also be levied.</p>
          </li>
        </ol>
        <p>However, as the new process is managed online through the Government Gateway, the ratepayer must first register for an account (both for the organisation and the individual) in order to claim their properties and invite their agent(s) to act on their behalf, before initiating any CCA action. This process in itself places a significant additional burden on the ratepayer.</p>
        <div class="voa">
          <a href="https://www.gov.uk/government/organisations/valuation-office-agency" target="_blank" >>> View the Government Gateway authentication process</a>
        </div>
        <p>These changes have introduced a great deal of uncertainty and bureaucracy to the business rates system, making it increasingly complicated, costly and time-consuming for ratepayers to challenge their assessments going forward.
        </p>
        <p>
          Our professionally qualified team of Business Rates experts can advise you through every step of the process to help keep your liabilities to a minimum and generate maximum savings wherever possible. 
        </p>
        <div class="com-btn ser-pg-btn br-btn">
          <a href="/services" target="_blank">see our services</a>
        </div>
      </div>
    </section>
    <!-- new appeal system end -->
    {% include "footer.html" %}

