<!-- Contact Area Start -->
<Section id="contact">
 <div class="container">
   <div class="row ct">
     <!-- left part -->
     <div class="left-ct col-md-6 col-12">
       <h1 class="com-heading">Contact Us</h1>
       <div class="cont-info">
         <ul class="p-0 m-0">
           <li>
             <i class="fas fa-map-marker-alt"></i>
             <span>Maylord House, 68 Lemon St, London E1 8EU  
             </span>
           </li>
           <li>
             <i class="fas fa-mobile-alt"></i>
             <span>07716105385</span>
           </li>
           <li>
             <i class="fas fa-mobile-alt"></i>
             <span>07739393337</span>
           </li>
           <li>
             <i class="fas fa-envelope"></i>
             <span>info@citygatesurveyors.com</span>
           </li>
           <li>
             <i class="fas fa-globe-europe"></i>
             <span>citygatesurveyors.co.uk</span>
           </li>
         </ul>
       </div>  
     </div>
     <!-- right part -->
     <div class="right-ct col-md-6 col-12">
       <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2483.0072394377803!2d-0.07245278422981291!3d51.51308317963614!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4876033562d871c7%3A0x1e19619a55094462!2s68%20Leman%20St%2C%20London%20E1%208EU!5e0!3m2!1sen!2suk!4v1633619999631!5m2!1sen!2suk" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
     </div>
   </div>
 </div>
</Section>
<!-- Contact Area End -->
<!-- footer Area Start -->
<footer>
 <div class="container">
   <div class="row">
     <div class="ft-cont text-center">
       <p>2021 &copy Citygate Surveyors | Maylord House, 68 Lemon Street, E1 8EU </p>
     </div>
   </div>
 </div>
</footer>
<!-- footer Area End -->    
<!--  Popper and Bootstrap JS -->
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
<!-- custom js -->
<script src="/static/assets/js/script.js"></script>
</body>
</html>