<!DOCTYPE html>
<html lang="en">

<head>
 <meta charset="UTF-8">
 <meta http-equiv="X-UA-Compatible" content="IE=edge">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>{{title}}</title>
 <style>
  h1 {
   color: aquamarine;
  }
 </style>
</head>

<body>
 <h1>{{bdata}}</h1>
 {% for n in clist %}
 <div>
  {{forloop.counter}} {{n}}
 </div>
 {% endfor %}
 <br>
 <table border="1" cellpadding="10">
  <tr>
   <th>Name</th>
   <th>Phone Number</th>
  </tr>

  {% for d in student_details %}
  <tr>
   <td>{{ d.name }}</td>
   <td>{{ d.phone }}</td>
  </tr>
  {% endfor %}

  {% for d in numbers %}
   {% if d > 20 %}
     <div>{{d}}</div>
   {% endif %}
  {% endfor %}
 </table>
</body>

</html>