   {% include "header.html" %}
    <!-- Service-pg Area Start -->
    <Section id="service-pg">
      <div class="container">
        <div class="row ">
          <!-- ser-pg-left -->
          <div class="col-lg-8 col-12 ser-pg-left">
            <h1 class="com-heading ser-pg-hd">Our services</h1>
            <ul>
              <li>Rating appeals:
                <p>Following an initial audit and ongoing reviews of your portfolio we will challenge rating assessments where appropriate.</p>
              </li>
              <li>Financial management:
                <p>We can check the accuracy of your bill and manage your payments.</p>
              </li>
              <li>Budget and forecasting:
                <p>We will help you budget for current and future liability scenarios as well as making provisions for potential additional liabilities.</p>
              </li>
              <li>Rating relief management:
                <p>We will audit your bill to make sure you are benefiting from all appropriate reliefs.</p>
              </li>
              <li>Influencing and monitoring legislative change:
                <p>To ensure your interests are protected and you are aware of any business rate implications due to legislative changes.</p>
              </li>
            </ul>
          </div>
          <!-- ser-pg-right -->
          <div class="col-lg-4 col-12 ser-pg-right">
            <div class="card">
              <img src="/static/assets/images/slider.jpeg" class="card-img-top" alt="">
              <div class="card-body">
                <h5 class="card-title">services at a glance</h5>
              </div>
              <ul class="list-group list-group-flush">
                <li class="list-group-item">Rating appeals </li>
                <li class="list-group-item">Financial management</li>
                <li class="list-group-item">Budget and forecasting</li>
                <li class="list-group-item">Rating relief management </li>
                <li class="list-group-item">Influencing and monitoring legislative change</li>
              </ul>
            </div>
            <div class="com-btn ser-pg-btn">
              <a href="/business-rate" target="_blank">see our bussiness rate</a>
            </div>
          </div>
        </div>
      </div>
    </Section>
    <!-- Service-pg Area End --> 
    {% include "footer.html" %}